<h2>List Student</h2>
<h4>Student {{student.id}}</h4>

<div>
  <img style="width: 150px; height: 200px" [src]="student.image">
  <p>Name: <span>{{student.name}}</span></p>
  <p>Mark: <span>{{student.mark}}</span></p>
  <p>Class: <span>{{student.class}}</span></p>
</div>
<div>
  <label for="mark">Cham diem</label>
  <input id="mark" type="text" (change)="getMark($event.target.value)">
</div>
<div>
  <label for="avt">Avatar</label>
  <input id="avt" type="text" [(ngModel)]="student.image">
</div>
<div>
  <p>Clear Value: </p>
  <button (click)="clear()">Clear</button>
</div>
