<!--<app-navbar></app-navbar>-->
<!--<app-name-card cardName="hoangminhas" email="darkflamemaster269" phone="096996969"></app-name-card>-->
<!--&lt;!&ndash;<app-article></app-article>&ndash;&gt;-->
<!--&lt;!&ndash;<app-footer></app-footer>&ndash;&gt;-->
<!--<app-progress-bar progress="0"></app-progress-bar>-->
<!--<router-outlet></router-outlet>-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<app-list-student></app-list-student>-->
<!--<app-customer></app-customer>-->
<app-countdown-timer></app-countdown-timer>


<!--<div class="card">-->
<!--  <div class="card-header">-->
<!--    <h2>English Flash</h2>-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    <p>Input:</p>-->
<!--    <input type="text" [(ngModel)]="num">-->
<!--    <div [ngSwitch]="num" >-->
<!--      <div *ngSwitchCase="1">One</div>-->
<!--      <div *ngSwitchCase="2">Two</div>-->
<!--      <div *ngSwitchCase="3">Three</div>-->
<!--      <div *ngSwitchCase="4">Four</div>-->
<!--      <div *ngSwitchCase="5">Five</div>-->
<!--      <div *ngSwitchDefault>Nice Try</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card-footer">-->
<!--&lt;!&ndash;    <button (click)="getNum(val)">Jump</button>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
